body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Table Styles */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table > caption {
    font-weight: bold;
}

thead {
    background-color: #3056A0;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #E6E6F5;
}

tfoot {
    text-align: right;
    font-size: 0.75em;
}